	<table class="table table-bordered rutileTable table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th style="text-align:center;">订单编号</th>
				<th style="text-align:center;">客户名称</th>
				<th style="text-align:center;">会员编码</th>
				<th style="text-align:center;">商品名称</th>
				<th style="text-align:center;">重量</th>
				<th style="text-align:center;">价格</th>
				<th style="text-align:center;">赠品名称</th>
				<th style="text-align:center;">赠品重量</th>
				<th style="text-align:center;">备注</th>
				<th style="text-align:center;">年</th>
				<th style="text-align:center;">月</th>
				<th style="text-align:center;">日</th>
				<th style="text-align:center;">创建时间</th>
			</tr>
		</thead>
		<tbody>
			#set($size = $result.list.size())
			  #if($size==0)
			    <tr><td colspan="13" align="center">没有数据!</td></tr> 
			   #else
				#foreach($obj in ${result.list})
    				<td align="center">$obj.id</td>
    				<td align="center">$obj.userName</td>
    				<td align="center">$obj.vipCode</td>
    				<td align="center">$obj.productName</td>
    				<td align="center">$obj.weight</td>
    				<td align="center">$!obj.price</td>
					
					<td align="center">$obj.giftProductName</td>
    				<td align="center">$obj.giftprice</td>
    				<td align="center">$obj.giftWeight</td>
    				<td align="center">$obj.remark</td>
    				<td align="center">$obj.year</td>
    				<td align="center">$!obj.month</td>
					<td align="center">$obj.day</td>
    				<td align="center">$!obj.createTime</td>
					
    				<td align="center"><a href="/shop/purchase/listDetail?orderId=$obj.id">[查看订单详情]</a>
					<a href="javascript:deleteOrder($obj.id);">[删除]</a>
					<a href="javascript:showModal2($obj.id);">[修改]</a>
					</td>
    			</tr> 
				#end
			  #end
		</tbody>
	</table>
		<div class="row DTTTFooter">#pageNation($result)</div>