<ul class="nav sidebar-menu">
	<li data-link="home"><a href="/shop/item/list"> <i class="menu-icon glyphicon glyphicon-home"></i> <span class="menu-text"> 
			  首页
				 </span> </a> </li>
	<!--商品管理管理-->
	<li><a href="javascript:;" class="menu-dropdown"> <i class="menu-icon glyphicon glyphicon-book"></i>  <span class="menu-text"> 商品管理 </span> <i class="menu-expand"></i></a>
		<ul class="submenu">
			<li data-link="item_list"> <a href="/shop/item/list"> <span class="menu-text">商品列表</span> </a> </li>
		</ul>
	</li>
	<!--销售管理-->
	<li> <a href="javascript:;" class="menu-dropdown"> <i class="menu-icon glyphicon glyphicon-list-alt"></i> <span class="menu-text"> 销售管理</span><i class="menu-expand"></i></a>
		<ul class="submenu">
				<li data-link="purchase_list"> <a href="/shop/purchase/list"> <span class="menu-text">销售列表</span> </a> </li>
		</ul>
	</li>
	<!--报表查看-->
	<li> <a href="javascript:;" class="menu-dropdown"> <i class="menu-icon glyphicon glyphicon-echarts"></i> <span class="menu-text"> 报表查看</span><i class="menu-expand"></i></a>
		<ul class="submenu">
				<li data-link="echarts_list"> <a href="/echarts/page"> <span class="menu-text">报表查看</span> </a> </li>
		</ul>
	</li>
</ul>
